@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  /* position: relative; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.auth-bg {
  background: url("/src/assets/markdown-bg.png") repeat center center fixed;
  background-size: contain;
}
